@charset "utf-8";
/* 样式重置 */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
em {
	font-style: normal;
}
input, textarea {
	outline: none;
}
textarea {
	resize: none; overflow: hidden;
}
body {
	font-size: 14px;
	font-family: "微软雅黑" ;
}
img {
	border: none;
	vertical-align: top;
}

